* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(224, 224, 224);
}

header {
    height: 80px;
    background-color: white;
    padding: 10px 10px;
    margin-bottom: 20px;
}

header img {
    height: 100%;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

main {
    width: 80%;
    background-color: white;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    margin: 15px 0 0 10px;
}

.margins {
    padding: 10px 20px;
}

.buttons {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.button {
    font-size: 10px;
    padding: 2px 8px;
    border-radius: 4px;
}

.highlight {
    padding: 3px 6px;
    border-radius: 8px;
    font-size: 0.7em;
    color: white;
}

.editorial {
    background-color: rgb(25, 96, 248);
}

.goals {
    background-color: rgb(111, 10, 226);
}

.recruiting {
    background-color: rgb(24, 160, 119);
}

.mobile {
    background-color: orangered;
}

.website {
    background-color: rgb(255, 0, 119);
}

.sales {
    background-color: olive;
}

.round {
    font-size: 8px;
    margin-right: 8px;
    padding: 2px 4px;
    border-radius: 50%;
    vertical-align: middle;
}

.check {
    border: 1px solid rgb(0, 250, 0);
    color: rgb(0, 250, 0);
}

.cross {
    border: 1px solid rgb(212, 0, 0);
    color: rgb(212, 0, 0);
}

#button_task {
    border: 2px solid rgb(10, 158, 195);
    background-color: rgb(10, 158, 195);
    color: white;
}

#button_section {
    border: 2px solid lightgrey;
    background-color: white;
    color: lightgrey;
}
